.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 0px;
  background-color: #7dd216;
  overflow: hidden;
}

.nav a {
  text-decoration: forestgreen;
}

.nav-title {
  font-size: 3.5em;
  font-weight: 700;
  color: #22e6d3;
  text-shadow: #6B16D2 1px 1px 4px;
  padding-left: 10px;
  margin: 0;
  background-color: #7dd216;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #7dd216;
  text-shadow: black 1px 1px 4px;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 1.5em;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #608947;
}
