
h2 {
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    text-align: center;
}

@media (max-width: 576px) {
    .compact-card-text {
        line-height: 1; 
        margin-bottom: 5px; 
        font-size: medium;
    }
    .card-buttons .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
    }
    .Card.Body {
        padding: 1000px
    }
}

